<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthLoginServlet</servlet-name>
        <servlet-class>com.se1611.servlets.AuthLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBookServlet</servlet-name>
        <servlet-class>com.se1611.servlets.AdminBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryServlet</servlet-name>
        <servlet-class>com.se1611.servlets.InventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageListEmployeesServlet</servlet-name>
        <servlet-class>com.se1611.servlets.AdminManageListEmployeesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateEmployeeServlet</servlet-name>
        <servlet-class>com.se1611.servlets.AdminUpdateEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteEmployeeServlet</servlet-name>
        <servlet-class>com.se1611.servlets.AdminDeleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageDashboardServlet</servlet-name>
        <servlet-class>com.se1611.servlets.AdminManageDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffBookServlet</servlet-name>
        <servlet-class>com.se1611.servlets.StaffBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffImportationServlet</servlet-name>
        <servlet-class>com.se1611.servlets.StaffImportationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerBookServlet</servlet-name>
        <servlet-class>com.se1611.servlets.SellerBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerCartServlet</servlet-name>
        <servlet-class>com.se1611.servlets.SellerCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerOrderServlet</servlet-name>
        <servlet-class>com.se1611.servlets.SellerOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffBookDeletedServlet</servlet-name>
        <servlet-class>com.se1611.servlets.StaffBookDeletedServlet</servlet-class>
    </servlet>
    <!--MAPPING-->
    <servlet>
        <servlet-name>AuthLogoutServlet</servlet-name>
        <servlet-class>com.se1611.servlets.AuthLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageListBookingRequestServlet</servlet-name>
        <servlet-class>com.se1611.servlets.AdminManageListBookingRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateNewEmployeeServlet</servlet-name>
        <servlet-class>com.se1611.servlets.AdminCreateNewEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateBookingRequestServlet</servlet-name>
        <servlet-class>com.se1611.servlets.AdminCreateBookingRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageListImportationsServlet</servlet-name>
        <servlet-class>com.se1611.servlets.AdminManageListImportationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateBookingRequestServlet</servlet-name>
        <servlet-class>com.se1611.servlets.AdminUpdateBookingRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthLoginServlet</servlet-name>
        <url-pattern>/AuthLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBookServlet</servlet-name>
        <url-pattern>/AdminBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryServlet</servlet-name>
        <url-pattern>/InventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageListEmployeesServlet</servlet-name>
        <url-pattern>/AdminManageListEmployeesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateEmployeeServlet</servlet-name>
        <url-pattern>/AdminUpdateEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteEmployeeServlet</servlet-name>
        <url-pattern>/AdminDeleteEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageDashboardServlet</servlet-name>
        <url-pattern>/AdminManageDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffBookServlet</servlet-name>
        <url-pattern>/StaffBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffImportationServlet</servlet-name>
        <url-pattern>/StaffImportationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthLogoutServlet</servlet-name>
        <url-pattern>/AuthLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageListBookingRequestServlet</servlet-name>
        <url-pattern>/AdminManageListBookingRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateNewEmployeeServlet</servlet-name>
        <url-pattern>/AdminCreateNewEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateBookingRequestServlet</servlet-name>
        <url-pattern>/AdminCreateBookingRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageListImportationsServlet</servlet-name>
        <url-pattern>/AdminManageListImportationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerBookServlet</servlet-name>
        <url-pattern>/SellerBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerOrderServlet</servlet-name>
        <url-pattern>/SellerOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerCartServlet</servlet-name>
        <url-pattern>/SellerCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateBookingRequestServlet</servlet-name>
        <url-pattern>/AdminUpdateBookingRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffBookDeletedServlet</servlet-name>
        <url-pattern>/StaffBookDeletedServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>SITEMAP_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/siteMap.properties</param-value>
    </context-param>
    <context-param>
        <param-name>AUTHENTICATION_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/authentication.properties</param-value>
    </context-param>
    <!--    Start Location save Image when add New Book-->
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            C:\Users\Nguye\Documents\GitHub\BookStore_SWP\src\main\webapp\images
            <!--\src\main\webapp\images-->
        </param-value>
    </context-param>
    <!--   End Location save Image when add New Book-->
    <filter>
        <filter-name>AuthenticationFilters</filter-name>
        <filter-class>com.se1611.filters.AuthenticationFilters</filter-class>
    </filter>
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>com.se1611.filters.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilters</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.se1611.listeners.ContextListener</listener-class>
    </listener>
    <resource-ref>
        <res-ref-name>DBBOOKSTORE</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
